Skip to content
noctisvora
noctisvora
Repository navigation
Code
Issues
Pull requests
Actions
Projects
Wiki
Security and quality
Insights
Settings
Files
Go to file
t
T
README.md
admin-login.html
admin.html
index.html
logo.png
script.js
style.css
noctisvora
/
style.css
in
main

Edit

Preview
Indent mode

Spaces
Indent size

4
Line wrap mode

No wrap
Editing style.css file contents
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#060606;
    color:white;
    overflow-x:hidden;
}


/* ================= BACKGROUND ================= */

body::before{
    content:"";
    position:fixed;
    width:500px;
    height:500px;
    background:#2a2a2a;
    filter:blur(180px);
    top:-100px;
    left:-100px;
    opacity:0.18;
    z-index:-1;
}

body::after{
    content:"";
    position:fixed;
Use Control + Shift + m to toggle the tab key moving focus. Alternatively, use esc then tab to move to the next interactive element on the page.
 
